@charset "utf-8";
@use 'mixin' as *;//ここを*にしてみる

.blogLists{
	&--card{
		.blogList{
			width: 48.5%;
			@include mq(sp) {
				width: 100%;
			}
			&__link{
				display: block;
			}
			&__img{
				width: 100%;
				margin-bottom: 1rem;	
				img{
				height: clamp(100px, 13vw, 200px);
				@include mq(sp) {
					height: clamp(100px, 45vw, 300px);
				}
			}
			}
			&__body{
				width: 100%;
			}
		}
	}
}

.pageNation{
	.nav-links{
		display: flex;
		justify-content: center;
		*{
			display: block;
			font-size: 2rem;
			padding: 0 1rem;
		}
	}
}