@charset "utf-8";
@use "mixin" as m;
// cmn

.wrap {
  background: #ffffff url("../img/bg_mv.png") no-repeat left top / 100% auto;
}

.sec {
  margin: 0 0 10rem;
  &__inner {
    max-width: 152rem;
    margin: auto;
    padding: 0 4rem;
    &--contact{
      .wpcf7.js{
      max-width: 100rem;
      margin: auto;
      @include m.mq(sp) {
        max-width: 60rem;        
      }
    }
    }
  }
  &__ttlBox {
    margin: 0 0 6rem;
  }
  &__ttl {
    font-size: 6vw;
    padding: 0 0 0 4vw;
    margin: 0 0 0 -4vw;
    font-weight: bold;
    position: relative;
    line-height: 1;
    font-family: "Lato";
    letter-spacing: 3px;
    background: no-repeat url("../img/bg_ttl01.png") left center / auto 60%;
    @include m.mq(sp) {
      font-size: 12rem;
      padding: 0 0 0 7vw;
      margin: 0 0 0 0vw;
      background-size: auto 36%;
    }
    &-sub {
      font-size: 2.5rem;
    }
    &--small {
      font-size: 4vw;
      @include m.mq(sp) {
        font-size: 8rem;
      }
    }
    &--contact {
      background-image: url("../img/bg_ttl02.png");
    }
  }
}

.sec.about {
  position: relative;
  &::before {
    background: #f4f4f4;
    content: "";
    display: block;
    height: 60%;
    right: 0;
    position: absolute;
    bottom: 0;
    width: 70%;
    @include m.mq(sp) {
      width: 80%;
      height: 70%;
    }
  }
}

.sec.skill {
  position: relative;
  z-index: 1;
  &::before {
    z-index: -1;
    content: "";
    display: block;
    position: absolute;
    background-color: #eee;
    transform: rotate(-45deg);
    top: 12vw;
    width: 50vw;
    height: 50vw;
    right: calc(100% - 25vw);
    @include m.mq(sp) {
      top: 25vw;
      width: 100vw;
      height: 100vw;
      right: calc(100% - 50vw);
    }
  }
  &::after {
    z-index: -1;
    content: "";
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    top: 12vw;
    width: 50vw;
    height: 50vw;
    background-color: #fff;
    right: calc(100% + 5vw);
    @include m.mq(sp) {
      top: 25vw;
      width: 100vw;
      height: 100vw;
      right: calc(100% + 15vw);
    }
  }
}

.sec.blog {
  position: relative;
  z-index: 1;
}


//topのカテゴリ
.catsList {
  $this: &;
  &__item {
    display: inline-block;
    vertical-align: top;
    font-size: 1.8rem;
    padding: 0.5rem 1rem;
    color: #fff;
    background: #0e7dc7;
    margin: 0 0.5rem 1rem 0;
    @include m.mq(sp) {
      font-size: 1.7rem;
    }
  }
  &--single {
    margin-bottom: 2rem;
    #{$this}__item {
      font-size: 1.7rem;
    }
  }
}

// worksのcat
.catsList.catsList--works {
  display: inline-block;
  vertical-align: top;
  font-size: 1.8rem;
  padding: 0.5rem 1rem;
  color: #fff;
  background: #0e7dc7;
  margin: 0 0.5rem 1rem 0;
  @include m.mq(sp) {
    font-size: 1.7rem;
  }
}

//singleのcat
.post-categories {
  li {
    display: inline-block;
    vertical-align: top;
    font-size: 1.6rem;
    padding: 0.5rem 1rem;
    color: #fff;
    background: #0e7dc7;
    margin: 0 0.5rem 0rem 0;
    @include m.mq(sp) {
      font-size: 1.7rem;
    }
  }
}
.content {
  display: flex;
  justify-content: space-between;
  max-width: 152rem;
  margin: auto;
  @include m.mq(sp) {
    display: block;
  }
  &__main {
    width: 108rem;
    padding: 0rem 3rem 5rem;
    @include m.mq(sp) {
      width: 100%;
      padding: 0rem 0rem 3rem;
    }
  }
  &__side {
    width: 42rem;
    padding: 0 1rem 5rem;
    @include m.mq(sp) {
      width: 100%;
      padding: 0 0rem 3rem;
    }
  }
}
