@charset "utf-8";
@use 'mixin' as m;
// cmn

.wrap{
  background:#fff url('../img/bg_mv.png') no-repeat left top / 100% auto;
}

.sec{
  margin:0 0 10rem;
  &__inner{
    max-width: 152rem;
    margin:auto;
    padding: 0 4rem;
  }
  &__ttlBox{
    margin: 0 0 6rem;
  }
  &__ttl {
    font-size: 6vw;
    padding: 0 0 0 4vw;
    margin:  0 0 0 -4vw;
    font-weight: bold;
    position: relative;
    line-height: 1;
    font-family: "Lato";
    letter-spacing: 3px;
        background:no-repeat url('../img/bg_ttl01.png') left center / auto 60%;
        @include m.mq(sp) {
          font-size: 12rem;
          padding: 0 0 0 7vw;
          margin:  0 0 0 0vw;
          background-size: auto 36%;
        }
          &-sub{
            font-size: 2.5rem;
          }
          &--small{
            font-size: 4vw;
            @include m.mq(sp) {
              font-size: 8rem;
            }
          }
          &--contact{
            background-image: url('../img/bg_ttl02.png');
          }
      }
}

.sec.about{
  position: relative;
  &::before {
    background:#f4f4f4;
    content: "";
    display: block;
    height: 60%;
    right: 0;
    position: absolute;
    bottom: 0;
    width: 70%;
    @include m.mq(sp) {
      width: 80%;
      height: 70%;
    }
  }
}

.sec.skill{
  position: relative;
  z-index: 1;
      &::before{
        z-index: -1;
        content: '';
        display: block;
        position: absolute;
        background-color: #EEE;
        transform: rotate(-45deg);
        top: 12vw;
        width: 50vw;
        height: 50vw;
        right: calc(100% - 25vw);
        @include m.mq(sp) {
          top: 25vw;
          width: 100vw;
          height: 100vw;
          right: calc(100% - 50vw);          
        }
    }
    &::after {
      z-index: -1;
      content: "";
      display: block;
      position: absolute;
      transform: rotate(-45deg);
      top: 12vw;
      width: 50vw;
      height: 50vw;
      background-color: #fff;
      right: calc(100% + 5vw);
      @include m.mq(sp) {
        top: 25vw;
        width: 100vw;
        height: 100vw;        
        right: calc(100% + 15vw);
      }
    }
}


.sec.blog{
  position: relative;
  z-index: 1;
}

.sec.contact{
    background-image:linear-gradient( -45deg, rgb(70,193,230) 0%, rgb(14,124,199) 100%);
    color: #fff;
    margin:0 auto 0;
    padding: 40rem 0 10rem;
    @include m.mq(sp) {
      padding: 20rem 0 10rem;
    }
.container {
  margin:0 auto;
  text-align:center;
  border-radius:6px;
}
.head {
  border-radius:6px 6px 0px 0px;
  color:#FAFAFA;
}
p,.wpcf7-response-output{
  font-size: 2.6rem;
  margin-bottom: 2rem;
}
input,textarea {
  padding: 15px 10px 10px;
  background: #ffffff;
  border-radius: 5px;
  background-clip: padding-box;
  box-sizing: border-box;
  width: 100%;
  color: #333;
}
// textarea {
//   height:100px;
//   margin-bottom:10px;
// }
// input:first-of-type
// {
//   margin-top:3rem;
// }
// input, textarea {
//   font-size: 1em;
//   padding: 15px 10px 10px;
//   background: #ffffff;
//   color:#FAFAFA;
//   border-radius: 5px;
//   background-clip: padding-box;
//   box-sizing: border-box;
//   width: 100%;
// }
// button {
//   margin-top:15px;
//   margin-bottom:25px;
//   background-color:#2ABCA7;
//   padding: 12px 45px;
//   border-radius: 5px;
//   border: 1px solid #2ABCA7;
//   transition: .5s;
//   display: inline-block;
//   cursor: pointer;
//   width:30%;
//   color:#fff;
// }
// button:hover, .button:hover {
//   background:#19a08c;
// }
}



.catsList{
  $this:&;
  &__item{
    display: inline-block;
    vertical-align: top;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    color: #fff;
    background: #0e7dc7;
    margin: 0 0.5rem 1rem 0;
    @include m.mq(sp) {
      font-size: 1.7rem;
    }
  }
  &--single{
    margin-bottom: 2rem;
    #{$this}__item{
    font-size: 1.7rem; 
    }
  }
}







.btn01{
  border: 1px solid #999;
  border-radius: 25px;
  display: block;
  text-align: right;
  width: 17rem;
  margin: 0 0 0 auto;
  @include m.mq(sp) {
    width: 25rem;
  }
  a{
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    border-radius: 6px;
    padding: 1rem 1rem 1rem 1.5rem;
    letter-spacing: 0.1em;
    @include m.mq(sp) {
      font-size: 2.6rem;
      padding: 1rem 1rem 1rem 2.5rem;
    }
    img {
      padding: 0 0 0.3rem 1.6rem;
      vertical-align: middle;
  }
  }
}

/*デフォルトのマウスカーソルを非表示にする*/
// html,body,a{cursor: none;}

/*独自のマウスカーソルを作成*/
.cursor {
  position: fixed;
  top: -5px;
  left: -5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 4;
  transition: width 0.2s, height 0.2s, top 0.2s, left 0.2s;
  transition-timing-function: ease;
  transform: translate(0, 0);
  pointer-events: none;
}

/*aタグにホバーした時に見た目変化*/
.cursor.cursor--hover {
  top: -20px;
  left: -20px;
  width: 60px;
  height: 60px;
  background: rgba(15, 125, 200, 0.7);
}

