@charset "utf-8";












// waves
.mv__waves {
  position: relative;
  bottom: -35rem;
  left: 0;
  width: 100%;
  margin-top: -30rem;
  transform: rotate(180deg);
  @include m.mq(sp) {
      bottom: -13.9rem;
      margin-top: -10rem;
  }
}
.parallax>use {
animation: move-forever 6s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}




.intro {
  font-size: 1.4rem;
  border-top: 2px solid #ddd;
  text-align: center;
  .row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    @include sp {
      max-width: 500px;
      margin: auto;
    }
    .item {
      @include sp {
        width: 44%;
        text-align: center;
        margin-bottom: 30px;
      }
    }
    .img {
      margin-bottom: 20px;
    }
    .txt {
      color: $gray-3;
    }
    a {
      display: block;
    }
  }
}
.foot {
  background: #545454;
  padding: 50px 10px;
  &__inner {
    margin: auto;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  &__list {
    display: inline-block;
    margin-left: 20px;
  }
  &__lists {
    @include sp {
      width: 100%;
      text-align: center;
      order: 1;
      margin-bottom: 30px;
    }
  }
  &__logo {
    @include sp {
      order: 2;
      text-align: center;
      width: 200px;
      margin: auto;
    }
  }
}
