@charset "utf-8";
@use 'mixin' as *;//ここを*にしてみる 

.btn01 {
  border: 1px solid #999;
  border-radius: 25px;
  display: block;
  width: 17rem;
  margin: 0 0 0 auto;
  @include mq(sp) {
    width: 25rem;
  }
  a {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    border-radius: 6px;
    padding: 1rem 1rem 1rem 2rem;
    letter-spacing: 0.1em;
    justify-content: center;
    @include mq(sp) {
      font-size: 2.6rem;
      padding: 1rem 1rem 1rem 2.5rem;
    }
    img {
      padding: 0 0 0.3rem 1rem;
      vertical-align: middle;
    }
  }
  &--A{
    margin: 0 1.5vw 0 auto;
    @include mq(sp) {
      margin: 5rem 3.5vw 0 auto;
    }
  }
}






  /* タブメニュー */

  .tab-title-list{
    margin-bottom: 3rem;
  }

  .tab-title-list {
    display: flex;
    width: 100%;
    justify-content: space-around;
    transition: all .3s;
  }

  .tab-title {
    width: 28%;
    cursor: pointer;
    transition: all .3s;
    text-align: center;
    letter-spacing: 0.2em;
    font-size: 2.6rem;
    border-bottom: 1px solid transparent;
    padding-bottom: 1.5rem;
  }

  .tab-title.selected {
    border-bottom: 2px solid #0e7dc7;
    opacity: 0.8;
  }
  .tab-title:not(.selected):hover {
    opacity: 0.6;
  }
  .tab-list {
    display: none;
    // opacity: 0;
    transition: all .3s;
    // height: 0;
  }
  .tab-list.show {
    display: block;
    // opacity: 1;
    // height: auto;
}
