@charset "utf-8";
@use 'mixin' as *;//ここを*にしてみる 

.btn01 {
  border: 1px solid #999;
  border-radius: 25px;
  display: block;
  width: 17rem;
  margin: 0 0 0 auto;
  @include mq(sp) {
    width: 25rem;
  }
  a {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    border-radius: 6px;
    padding: 1rem 1rem 1rem 2rem;
    letter-spacing: 0.1em;
    justify-content: center;
    @include mq(sp) {
      font-size: 2.6rem;
      padding: 1rem 1rem 1rem 2.5rem;
    }
    img {
      padding: 0 0 0.3rem 1rem;
      vertical-align: middle;
    }
  }
  &--A{
    margin: 0 1.5vw 0 auto;
    @include mq(sp) {
      margin: 5rem 3.5vw 0 auto;
    }
  }
}






  /* タブメニュー */

  .tab-title-list{
    margin-bottom: 3rem;
  }

  .tab-title-list {
    display: flex;
    width: 100%;
    justify-content: space-around;
    transition: all .3s;
  }

  .tab-title {
    width: 28%;
    cursor: pointer;
    transition: all .3s;
    text-align: center;
    letter-spacing: 0.2em;
    font-size: 2.6rem;
    border-bottom: 1px solid transparent;
    padding-bottom: 1.5rem;
  }

  .tab-title.selected {
    border-bottom: 2px solid #0e7dc7;
    opacity: 0.8;
  }
  .tab-title:not(.selected):hover {
    opacity: 0.6;
  }
  .tab-list {
    display: none;
    transition: all .3s;
  }
  .tab-list.show {
    display: block;
}

.nav-links .page-numbers{
  width: 40px;
  color: #333;
  border-radius: 50%;
  box-shadow: 0px 3px 5px #d0d0d0;
  background: #fff;
  font-size: 14px;
  margin: 0 5px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-links .current{
  background:#69a4db;
  color:#fff;
}
.nav-links .prev,
.nav-links .next{
  background:transparent;
  box-shadow:none;
  color:#69a4db;
  width: auto;
}
.nav-links .dots{
  background:transparent;
  box-shadow:none;
}