@charset "utf-8";
@use 'mixin' as *;//ここを*にしてみる

.sidebar{
  &__blk{
    font-size: 2rem;
    margin: 0 auto 5rem;    
  }
  &__ttl{
    border-bottom: solid 3px #7db4e6;
    margin-bottom: -2rem;
    font-size: 3rem;
    font-weight: 600;
    padding: 0.25em 0;
    &--search{
      margin-bottom: 3rem;
    }
    }
  }
  .wp-block-search__label{
    display: none;
  }
  .wp-block-latest-posts__list.wp-block-latest-posts{
    li{
      margin-bottom: 1rem;
      border-bottom: 1px dotted #555;
      padding-bottom: 1rem;
    }
}

.sideSearch{
  display: flex;
  justify-content: space-between;
  margin: 0 0 5rem;
  &__input{
    padding: 1rem;
    font-size: 2rem;
    background: #ffffff;
    border-radius: 5px;
    background-clip: padding-box;
    box-sizing: border-box;
    width: 86%;
    color: #555;
    border: 1px solid #999999;
    @include mq(sp) {
      width: 90%;
    }
  }
  &__btn{
    cursor: pointer;
    width: 14%;
    text-align: right;
    @include mq(sp) {
      width: 10%;
      text-align: center;
    }
  }
  i{
    font-size: 4rem;
    color: #666;
  }
}