@charset "utf-8";
@use 'mixin' as *;//ここを*にしてみる

.sidebar{
  width: 40rem;
  padding:0 1rem 5rem;
  @include mq(sp) {
    width: 100%;
  }
  &__blk{
    font-size: 2rem;
    margin: 0 auto 5rem;    
  }
  &__ttl{
    border-bottom: solid 3px #7db4e6;
    margin-bottom: -2rem;
    font-size: 3rem;
    font-weight: 600;
    padding: 0.25em 0;
    }
  }
  .wp-block-search__label{
    display: none;
  }
  .wp-block-latest-posts__list.wp-block-latest-posts{
    li{
      margin-bottom: 1rem;
      border-bottom: 1px dotted #555;
      padding-bottom: 1rem;
    }
}