@use 'mixin' as m;

.wrap--single{
background-color:#ffffff;
 }
.post{
padding: 10rem 0 0rem;
@include m.mq(sp) {
  padding:75px 2.5rem 0rem;
 }
}

.content__main{
    h1.postTtl01{
        margin-bottom: 3.2rem;
        font-size: 4rem;
        color: #333;
        font-weight: 600;
        @include m.mq(sp) {
          font-size: 3.6rem;
        }
    }
    h2{
      margin-bottom: 3rem;
      font-size: 3.4rem;
      font-weight: 600;
      padding: 0.25em 0.5em;/*上下 左右の余白*/
      color: #494949;/*文字 色*/
      background: transparent;/*背景透明に*/
      border-left: solid 5px #7db4e6;/*左線*/
      @include m.mq(sp) {
        font-size: 3.2rem;
      }
    }
  h3{
    border-bottom: solid 3px #7db4e6;
    margin-bottom: 2.8rem;
    font-size: 3.0rem;
    font-weight: 600;
    padding: 0.25em 0;/*上下 左右の余白*/
    @include m.mq(sp) {
      font-size: 3rem;
    }
  }
h4{
  margin-bottom: 2.6rem;
  font-size: 2.6rem;
  font-weight: 600;
  position: relative;
  padding-left: 1.2em;/*アイコン分のスペース*/
  &:before{
content: "✓";/*アイコンのユニコード*/
position: absolute;/*絶対位置*/
font-size: 1em;/*サイズ*/
left: 0;/*アイコンの位置*/
top: 0;/*アイコンの位置*/
color: #6C9FCE; /*アイコン色*/
  }
  @include m.mq(sp) { 
    font-size: 2.8rem;
  }
}
.single-post__info{
display: flex;
justify-content: space-between
}
.postData{
  font-size: 2rem;
  margin-bottom: 1rem;
  i{
    padding: 0 0.5em 0 0;
  }
  span{
    padding: 0 1em 0 0;
  }
}
.postThumb{
  margin-bottom: 5rem;
  img{
    width: 100%;
      object-fit: cover; 
      height: 80vh;
      @include m.mq(sp) {
        height: 30vh;
      }
  }
 }
}

.postBody{//記事内ブロック
  p{
    margin-bottom: 3rem;
    font-size: 2.2rem;
  }
  ul{
    margin-bottom: 3rem;
    li{
      font-size: 2.2rem;
      font-weight: bold;
    }
  }
  .wp-block-code{
    font-size: 1.8rem;
    padding: 2rem;
    background: #ededed;
  }
}

.postLinks{
  align-items: center;
    display: flex;
    justify-content: space-between;
    @include m.mq(sp) {
      display: block;
    }
   &__item{
    font-size: 2.2rem;
    margin-bottom: 0rem;
    position: relative;
    width: 48%;
    @include m.mq(sp) {
      width: 100%;
      margin-bottom: 1em;
    }
    &:before {
      content: "";
      display: block;
      height: 0.5em;
      pointer-events: none;
      position: absolute;
      top: 50%;
      width: 0.5em;
      z-index: 1;
  }
  &.prev{
    padding: 0 0 0 3rem;
    &:before {
      border-bottom: 1px solid;
      border-left: 1px solid;
      transform: rotate(45deg) translateY(-50%);
      left: 0;
    }
  }
  a{
      display: inline-block;
    }
    &.next{
      padding: 0 3rem 0 0rem;
      &:before {
        border-bottom: 1px solid;
        border-right: 1px solid;
        transform: rotate(-45deg) translateY(-50%);
        right: 0;
        left: auto;
      }
    }
  }
}
.postSnsLinks{
  display: flex;
  justify-content: center;
  align-items: center;
  &__item{
    a{
      margin:0 1rem 2rem;
      font-size: 2.8rem;
      display: inline-block;
    }
  }  
}