@charset "utf-8";
@use "mixin" as *;

.content.content--works {
  max-width: 140rem;
  margin: auto;
  display: block;
  padding: 10rem 0 5rem;
  @include mq(sp) {
    padding: 80px 0 5rem;
  }
}
.content__main.content__main--works {
  width: 100%;
  @include mq(sp) {
    padding: 0 2rem;
  }
}
.postBlock {
  margin: 5rem 0 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 0 5rem;
  @include mq(sp) {
    display: block;
  }
  &__img {
    width: 48%;
    margin: 0;
    @include mq(sp) {
      width: 100%;
      margin: 0 0 5rem;
    }
    img {
      width: 100%;
    }
  }
  &__body {
    width: 48%;
    @include mq(sp) {
      width: 100%;
    }
  }
}
.worksList {
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
  // background: rgba(0,0,0,0.02);
  border-bottom: 1px dotted #ccc;
  font-size: 2rem;
  @include mq(sp) {
    font-size: 2.4rem;
  }
  dt {
    border-top: 1px dotted #ccc;
    width: 14rem;
    padding: 2rem 0 2rem 2rem;
    //   &:nth-of-type(odd) {
    //     background: rgba(0,0,0,0.03);
    // }
  }
  dd {
    padding: 2rem 2rem 2rem 1rem;
    width: calc(100% - 14rem);
    border-top: 1px dotted #ccc;
    //   &:nth-of-type(odd) {
    //     background: rgba(0,0,0,0.03);
    // }
  }
  a{
    color: #0066c0;
    text-decoration: underline;
  }
}
.postArticle {
  p {
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }
}










// pacific
 .page-head {
  width: 100%;
  height: 330px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.page-head>img {
  width: 100%;
  height: 330px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.page-head .wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  transform: translate(-50%, -50%);
  color: #fff;
}

 .page-head .wrapper .page-title-en {
  font-size: 3.2rem;
  font-family: 'Vollkorn', serif;
  font-style: italic;
}

 .page-head .wrapper .page-title {
  margin-top: 12px;
  font-size: 4.8rem;
  font-family: 'Noto Sans Japanese', sans-serif;
  font-weight: 400;
  line-height: 1;
}

@media (max-width: 768px){
 .page-head {
    height: 212px;}

     .page-head img {
      height: 212px;
  } 
}
