@charset "utf-8";


/* Share button */

.snsShareArea{
  margin: 10rem auto 5rem;
}
.post h3.snsShareArea__ttl{
  text-align: center;
  border-bottom: dotted 3px #7db4e6;
}
.snsShareArea:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
  }
  .snsShareArea a{
    box-sizing: border-box;
    display: block;
    float: left;
    width: 31.3%;
    margin: 1%;
    padding: .7em 0;
    border-radius: 3px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
  }
  .btn--twitter{
    background: #55acee;
  }
  .btn--facebook{
    background: #3b5998;
  }
  .btn--line{
    background: #54bc4d;
  }
  .btn--hatena{
    background: #008FDE;
  }
  .btn--pocket{
    background: #ee4056;
  }
  .btn--pinterest{
   background: #c60120;
  }