@charset "utf-8";
@use 'mixin' as m;//ここを*にしてみる

.mv{
    height: calc(100vh - 0px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:3vw 0 0 0;
    @include m.mq(sp) {
        flex-direction: column-reverse;
        justify-content: center;
    }
    &__logo{
        font-size: 6.5vw;
        line-height: 1.2;
        font-weight: bold;
        padding: 0 0 5vw 6vw;
        width: 50%;
        font-family: "Lato";
        @include m.mq(sp) {
            padding: 0 0 0 0;
            width: 80%;
            font-size: 14vw;
        }
    }
    &__img{
        width: 50%;
        padding: 0 8vw 0 0;
        @include m.mq(sp) {
            padding: 0 0 5vw 0;
            //width: min(400px, 60%);  
            width: clamp(200px, 60%, 400px);
        }
    }
}


.aboutBox{
    display: flex;
    align-items: flex-start;
    position: relative;
    z-index: 1;
    @include m.mq(sp) {
    flex-direction: column;
    justify-content: center;
    }
    &__img{
        width: 50%;
        @include m.mq(sp) {
            width: 80%;
        }
    }
    &__body{
        width: 50%;
        margin: 10vw 0 0;
        padding: 4rem;
        @include m.mq(sp) {
            width: 80%;
            margin: 0vw 0 0 20vw;
        }
    }
    &Ttl{
        font-size: 2rem;
        margin-bottom: 3rem;
        line-height: 1.3    ;
        span{
            font-size: 4rem;    
        }
    }
    &__desc{
        font-size: 2rem;
        margin: 0 0 2rem;
        @include m.mq(sp) {
            font-size: 2.4rem;
        }
    }
    &__snsLists{
        display: flex;
        justify-content: flex-end; 
    }
    &__snsList{
        margin:0 1rem 0 0 ;
        width: 6rem;
        @include m.mq(sp) {
            width: 7rem;
        }
        a{
            display: block;
            img{
                width: 100%;
            }
        }
    }
}
.skillBox{
    position: relative;
    z-index: 1;
}
.skillLists{
    display: flex;
    justify-content: space-between;
    @include m.mq(sp) {
    flex-direction: column;
    }
}
.skillList{
    box-shadow: 0px 0px 15px -5px #777777;
    border-radius: 10px;
    padding: 4rem 4rem;
    width: 30%;
    background: #ffffff;
    @include m.mq(sp) {
        width: 90%;
        margin: 0 auto 6rem;
    }
    &__ttl{
        font-size: 3rem;
        text-align: center;
        font-weight: 600;
        line-height: 1.2;
        @include m.mq(sp) {
            font-size: 4rem;
        }
        &--sub{
            font-size: 2.2rem;
            text-align: center;
            margin-bottom: 2rem;
            @include m.mq(sp) {
                font-size: 3rem;
            }
        }
    }
    &__img{
        text-align: center;
        margin:0 auto 4rem;
        width: 50%;
        @include m.mq(sp) {
            width: 34%;
        }
    }
    &__desc{
        font-size: 2rem;
        @include m.mq(sp) {
            font-size: 2.4rem;            
        }
    }
}


.blogLists{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 3rem;
}
.blogList{
    width: 49%;
    box-shadow: 0px 0px 15px -5px #777777;
    margin: 0 0 3rem;
    border-radius: 10px;
    background: #ffffff;
    @include m.mq(sp) {
        width: 100%;
        margin: 0 0 5rem;
    }
    .blogList__link{
        padding: 2rem;
        background: #ffffff;
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border-radius: 10px;
    }
    &__img{
        width: 30%;
        img{
            object-fit: cover;
            width: 100%;
        }
    }
    &__body{
        width: 66%;
    }
    &__date{
        font-size: 2rem;
        margin-bottom: 1rem;
        @include m.mq(sp) {
            font-size: 2.2rem;            
        }
    }
    &__ttl{
        font-size: 2.2rem;
        font-weight: 700;
        @include m.mq(sp) {
            font-size: 2.6rem;            
        }
    }
    &__cat{
        display: inline-block;
        vertical-align: top;
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
        color: #fff;
        background: #0e7dc7;
        margin:0 0.5rem 1rem 0;
        @include m.mq(sp) {
            font-size: 1.7rem;
        }
    }
}


// works
.worksBody{
    overflow: hidden;
    padding: 0 0 0 12vw;
    position: relative;
    @include m.mq(sp) {
        padding: 0rem 0 0vw;
      }
}

.worksItems{
    @include m.mq(sp) {
        padding: 6rem 0;
      }
      
    &__ttl{
    font-weight: bold;
    font-size: 2.4rem;
    }
    &__wrap{
    padding: 5rem 0 3rem 2rem;
    @include m.mq(sp) {
        padding: 3rem 0 3rem 2rem;
      }
    }
    &__item{
        font-size: 2rem;
        padding:0 0 3rem 0;
        position: relative;
    width: 30vw;
    margin-right: 5vw;
    vertical-align: top;
    box-shadow: 0px 0px 15px -5px #777777;
    margin: 0 0 3rem;
    border-radius: 10px;
    &:hover{ 
        @include m.mq(pc) {
          transform: scale(1.05); /* PC専用のMQを作成する */
        }
    }
  }
  &__image{
    img{
    border-radius: 10px 10px 0 0;
    object-fit: cover; 
    height: 25vh;
    @include m.mq(sp) {
        height: 20vh;
        }
}
  }
  &__body{
    padding: 2rem;
  }
  &__date{
    font-size: 2.2rem;
  }
}
.swiper-container{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.swiper-slide{ 
    height: auto;
    transition:transform .5s,opacity .5s;
    a{
    display: block;
    background: #ffffff;
    border-radius: 10px;
}
}
.worksItems__item.swiper-slide.swiper-slide-active{
    @include m.mq(sp) {
    transform: scale(1.2); /* スライドの大きさ調整 */
    }
}

// hoverアクション
// .worksItems__item{
//     &:hover{ 
//         transform: scale(1.1); /* PC専用のMQを作成する */
//     }
// }

.swiper-container:hover {
    .swiper-slide:not(:hover) {
        @include m.mq(pc) {
        opacity: .3;
        }
    }
}


.slide-btn{
    display: flex;
    // position: absolute;
    // top: 105px;
    // right: 8.5%;
    // bottom: auto;
    // left: auto;
    width: 18rem;
    margin:0 0rem 0rem auto;
    // text-align: left;
    // z-index: 100;
}
.left-btn,.right-btn {
    position: relative;
    display: inline-block;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    border: 1px solid #555;
    &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30%;
        height: 25%;
        background: url(../img/slide/ico_slide01.svg) 0 0 no-repeat;
        background-size: contain;
        display: inline-block;
        vertical-align: middle;
    }
}
.left-btn{
    margin-right: 1rem;
}
.right-btn{
    &:before {
        background-image: url(../img/slide/ico_slide02.svg);
        left: 58%;
    }
}



// waves
.mv__waves {
    position: relative;
    bottom: -35rem;
    left: 0;
    width: 100%;
    margin-top: -30rem;
    transform: rotate(180deg);
    @include m.mq(sp) {
        bottom: -14rem;
        margin-top: -10rem;
    }
}
.parallax>use {
animation: move-forever 6s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}


