@charset "utf-8";
// var
$white:#ffffff;
$black:#000000;
$red:#ff0000;
$green:#00ff00;
$blue:#0000ff;
$l-blue:#f2f7f9;
$yellow:#ffff00;
$gray-c:#cccccc;
$gray-d:#dddddd;
$gray-e:#eeeeee;
$gray-2:#222222;
$gray-3:#333333;
$gray-6:#666666;
$gray-9:#999999;
$pc:768px;
$sp:767px;
$c01:#fdede3;
$c02:#519c00;
$c03:#52952d;
$c04:#effbe2;
